.zone-layout-homeetals .leftcol{
	float: left;
	width: 160px;	
}

.listeFamilles{
	margin: 0;
	padding: 0;	
}

.listeFamilles li{
	margin-bottom: 5px;	
}

.zone-layout-homeetals .rightcol{
	float: right;
	width: 535px;	
}

.zone-layout-homeetals .rightcol section{
	margin-bottom: 30px;	
}

.block-item-jeu a{
	text-decoration: none;
}

.block-item-jeu .visuel{
	float: left;
	width: 300px;
}

.block-item-jeu .jeu-infos{
	float: right;
	width: 205px;	
	color: #000;
}




.zone-layout-boutique .map-container{
	width: 375px;
	height: 340px;	
}

