.zone-layout-homeetals .leftcol{
	float: left;
	width: 160px;	
}

.listeFamilles{
	margin: 0;
	padding: 0;	
}

.listeFamilles li{
	margin-bottom: 10px;	
}

.zone-layout-homeetals .rightcol{
	float: right;
	width: 535px;	
}

.zone-layout-homeetals .rightcol section{
	margin-bottom: 30px;	
}

.block-item-jeu a{
	text-decoration: none;
}

.block-item-jeu .visuel{
	float: left;
	width: 300px;
}

.block-item-jeu .jeu-infos{
	float: right;
	width: 205px;	
	color: #000;
}

.block-item-article{
	position: relative;	
}

.block-item-article h1{
	margin: 0.5em 0;
}

.block-item-article .visuel{
	float: left;
	width: 200px;
}

/**
 * BOUTIQUE
**/
.zone-layout-boutique{
	padding: 0 22px;	
}

.zone-layout-boutique .block{
	margin-top: 20px;
}

.zone-layout-boutique .topzone .block{
	float: right;
	width: 275px;	
}

.zone-layout-boutique .topzone .block-gmap{
	float: left;
	width: 375px;
}

.zone-layout-boutique .map-container{
	width: 375px;
	height: 340px;	
}

.zone-layout-boutique .topzone .block-ItemList .block-contents{
	border: 0;
	padding: 0;	
	margin-top: 40px;
}


.zone-layout-boutique .bottomzone .block-LatestContent{
	float: left;
	width: 280px;	
}

.zone-layout-boutique .bottomzone .block-ItemList{
	float: right;
	width: 280px;	
}

.listePartenaires{
	margin: 0;
	padding: 0;	
}

.listePartenaires li{
	display: inline;	
}



/**
 * Couleurs Blocs
**/
/* Presse */
.block-marron .title{
	background-color: #612911;
	background-image: url(../images/puce-titre-marron.png);
}

.block-marron .title.archiTitre{
	background-image: none;
}

.block-marron .title.archiTitre .decalage{
	padding-left: 25px;
	background: url(../images/puce-titre-marron.png) no-repeat left top;
	text-shadow: #612911 0 0 0.2em, #612911 0 1px 0.2em, #612911 1px 1px 0.2em, #612911 0 1px 0.2em, #612911 -1px 1px 0.2em, #612911 -1px 0 0.2em, #612911 -1px -1px 0.2em, #612911 0 -1px 0.2em, #612911 1px -1px 0.2em;
}



/* Vous aimez */
.block-mauve .title{
	background-color: #994785;
	background-image: url(../images/puce-titre-mauve.png);
}
.block-mauve .title.archiTitre{
	background-image: none;
}

.block-mauve .title.archiTitre .decalage{
	padding-left: 25px;
	background: url(../images/puce-titre-mauve.png) no-repeat left top;
	text-shadow: #994785 0 0 0.2em, #994785 0 1px 0.2em, #994785 1px 1px 0.2em, #994785 0 1px 0.2em, #994785 -1px 1px 0.2em, #994785 -1px 0 0.2em, #994785 -1px -1px 0.2em, #994785 0 -1px 0.2em, #994785 1px -1px 0.2em;
}



/* Partenaires */
.block-orange .title{
	background-color: #fd7f04;
	background-image: url(../images/puce-titre-orange.png);
}
.block-orange .title.archiTitre{
	background-image: none;
}

.block-orange .title.archiTitre .decalage{
	padding-left: 25px;
	background: url(../images/puce-titre-orange.png) no-repeat left top;
	text-shadow: #fd7f04 0 0 0.2em, #fd7f04 0 1px 0.2em, #fd7f04 1px 1px 0.2em, #fd7f04 0 1px 0.2em, #fd7f04 -1px 1px 0.2em, #fd7f04 -1px 0 0.2em, #fd7f04 -1px -1px 0.2em, #fd7f04 0 -1px 0.2em, #fd7f04 1px -1px 0.2em;
}




/* Sélection */
.block-vert .title{
	background-color: #8fbc17;
	background-image: url(../images/puce-titre-vert.png);
}

.block-vert .title.archiTitre{
	background-image: none;
}

.block-vert .title.archiTitre .decalage{
	padding-left: 25px;
	background: url(../images/puce-titre-vert.png) no-repeat left top;
	text-shadow: #8fbc17 0 0 0.2em, #8fbc17 0 1px 0.2em, #8fbc17 1px 1px 0.2em, #8fbc17 0 1px 0.2em, #8fbc17 -1px 1px 0.2em, #8fbc17 -1px 0 0.2em, #8fbc17 -1px -1px 0.2em, #8fbc17 0 -1px 0.2em, #8fbc17 1px -1px 0.2em;
}

.block-vert article h1{
	color: #8fbc17;
}


/* A venir */
.block-bleu .title{
	background-color: #015f86;
	background-image: url(../images/puce-titre-bleu.png);
}

.block-bleu article h1{
	color: #015f86;
}
.block-bleu .title.archiTitre{
	background-image: none;
}

.block-bleu .title.archiTitre .decalage{
	padding-left: 25px;
	background: url(../images/puce-titre-bleu.png) no-repeat left top;
	text-shadow: #015f86 0 0 0.2em, #015f86 0 1px 0.2em, #015f86 1px 1px 0.2em, #015f86 0 1px 0.2em, #015f86 -1px 1px 0.2em, #015f86 -1px 0 0.2em, #015f86 -1px -1px 0.2em, #015f86 0 -1px 0.2em, #015f86 1px -1px 0.2em;
}
