html{
	background: #f2f0e4 url(../images/bg.png);
}

body{
	width: 960px;
	margin: 0 auto;	
	background: url(../images/bg-header.png) no-repeat;
}

.debug-toolbar{
	position: relative;
	padding-bottom: 20px;	
}


/**
 * HEADER
**/
header{
	height: 230px;
	position: relative;
}

header #logo{
	position: absolute;
	left: 10px;
	bottom: -35px;
	z-index: 100;	
}

header #mainNav{
	position: absolute;
	bottom: 1px;
	left: 300px;	
}


header #mainNav li{
	display: block;
	float: left;
	margin-right: 25px;
}

header #mainNav li a{
	background-color: #000;
	font-family: AllerDisplayRegular, sans-serif;
	font-size: 20px;
	color: #fff;
	padding: 2px 10px;
	text-decoration: none;
}

header #mainNav li a:hover{
	background-color: #83b809;
	color: #fff;
}

header #mainNav li a.archiTitre{
	padding: 2px 0;
}

header #mainNav li a.archiTitre:hover .decalage{
	text-shadow: #83b809 0 0 0.2em, #83b809 0 1px 0.2em, #83b809 1px 1px 0.2em, #83b809 0 1px 0.2em, #83b809 -1px 1px 0.2em, #83b809 -1px 0 0.2em, #83b809 -1px -1px 0.2em, #83b809 0 -1px 0.2em, #83b809 1px -1px 0.2em;
}


/**
 * MAIN
**/
#main{
	float: left;
	width: 710px;
	padding: 35px 25px;
	background-color: #fff;	
	-moz-box-shadow: #999 0 5px 5px;
	-webkit-box-shadow: #999 0 5px 5px;
	box-shadow: #999 0 5px 5px;
	margin-bottom: 15px;
	min-height: 450px;
}




/**
 * Commentaires
**/
section.comments{
	position: relative;
	padding-bottom: 30px;	
}

section.comments h1{
	font-size: 16px;
	background: url(../images/bg-titre-commentaires.gif) no-repeat;
	padding: 5px 10px 10px 10px;	
}

section.comments form{
	margin-top: 2em;	
}

.class-comment{
	color: #646464;
	margin: 2em 0;	
}

.class-comment h2{
	margin: 0;
}

.class-comment .attribute-infos{
	font-weight: bold;
	margin-bottom: 0.5em;	
}

.class-comment .attribute-message p{
	margin: 0.5em 0;
}

#breadcrumbs{
	margin: 1em 0;
	padding: 0;
	list-style-type: none;	
}

#breadcrumbs li{
	display: inline;
	margin-right: 0.5em;	
}

#breadcrumbs a{
	color: #000;	
	font-family: AllerDisplayRegular, sans-serif;
	text-decoration: none;
}

#breadcrumbs .active{
	color: #8fbc17;
	font-weight: bold;
}

/**
 * SIDEBAR
**/
#sidebarRight{
	float: right;
	width: 200px;	
	margin-bottom: 15px;
}

#sidebarRight section{
	background-color: #000;
	color: #fff;
	padding: 15px;	
	margin: 0 0 30px 0;
	position: relative;
}

#sidebarRight section a{
	color: #fff;
}

#sidebarRight section h1{
	font-family: AllerDisplayRegular, sans-serif;
	font-size: 20px;
	color: #000;
	background: url(../images/bg-bulle.png) no-repeat;
	padding: 0 0 20px 15px;
	text-align: left;
	margin: -35px 0 0 0;
	text-shadow: #fff 0 0 0.2em, #fff 0 1px 0.2em, #fff 1px 1px 0.2em, #fff 0 1px 0.2em, #fff -1px 1px 0.2em, #fff -1px 0 0.2em, #fff -1px -1px 0.2em, #fff 0 -1px 0.2em, #fff 1px -1px 0.2em;
}

#sidebarRight section ul{
	margin: 0;
	padding: 0;	
}

#sidebarRight section li{
	margin: 10px 0;	
}


#sidebarRight section a.infos{
	padding-left: 10px;	
	float: right;
}

#sidebarRight section.class-event-calendar{
	background-color: #bdb989;		
}

#sidebarRight section.class-event-calendar p{
	margin: 0;	
}


#sidebarRight section.newsletter{
	font-size: 10px;
	color: #C1D702;
}

#sidebarRight section.newsletter label{
	color: #fff;
}

#sidebarRight section.newsletter input.halfbox{
	width: 95px;
	margin-right: 5px;
	font-size: 8px;
}

#sidebarRight section.newsletter input.button{
	padding: 2px 0;
	background-color: #fff;
	color: #000;
}

#sidebarRight section#vousaimez{
	background-color: #994785;
	color: #fff;
}

#sidebarRight section#vousaimez p{
	font-family: AllerDisplayRegular, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

/**
 * FOOTER
**/
footer{
	clear: both;	
	margin: 15px 0;
}