@font-face {
	font-family: 'AllerRegular';
	src: url('aller_rg-webfont.eot');
	src: local('☺'), url('aller_rg-webfont.woff') format('woff'), url('aller_rg-webfont.ttf') format('truetype'), url('aller_rg-webfont.svg#webfontrXVLZ6r9') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AllerDisplayRegular';
	src: url('allerdisplay-webfont.eot');
	src: local('☺'), url('allerdisplay-webfont.woff') format('woff'), url('allerdisplay-webfont.ttf') format('truetype'), url('allerdisplay-webfont.svg#webfontQtv3zFIy') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: AllerRegular, sans-serif;	
	color: #000;
}

p{
	margin: 1em 0;	
}

ul li{
	list-style-type: none;		
	background-image: none;
	padding: 0;
}

h1{
	font-family: AllerDisplayRegular, sans-serif;
	font-size: 24px;
	line-height: 20px;
}

img, .rounded{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rounded-trb{
	-moz-border-radius: 5px 5px 5px 0;
	-webkit-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0;	
}

.rounded-tr{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}


.rounded-bl{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.rounded-tbl{
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
}

.rounded-tl{
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.rounded-rb{
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.rounded10{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.rounded10-tbl{
	-moz-border-radius: 10px 0 5px 10px;
	-webkit-border-radius: 10px 0 5px 10px;
	border-radius: 10px 0 5px 10px;
}

form{
	position: relative;	
}

a.infos, input.button, .block span.infos{
	color: #fff;
	background-color: #000;
	font-size: 11px;
	padding: 2px 5px;
	font-weight: bold;
	text-decoration: none;
	border: 0;
	position: absolute;
	bottom: 0;
	right: 0;	
}


a.boutique{
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	background-color: #CADF03;
	color: #000;
	padding: 5px;	
	text-decoration: none;
	font-family: AllerDisplayRegular, sans-serif;
	font-size: 11px;
	z-index: 10;
}

.pastille{
	display: block;
	background: #f2f0e4;
	text-align: center;
	-moz-box-shadow: #999 0 2px 2px;
	-webkit-box-shadow: #999 0 2px 2px;
	box-shadow: #999 0 2px 2px;
	text-decoration: none;
}

.pastille .title{
	font-family: AllerDisplayRegular, sans-serif;
	color: #fff;
	background-color: #000;
	margin: 0; 	
	padding: 5px;
	text-align: right;
	font-size: 20px;
}

.block{
	position: relative;	
}

.block .title{
	float: left;
	font-family: AllerDisplayRegular, sans-serif;
	color: #fff;
	font-size: 18px;
	background-color: #000;
	margin: 5px 0 0 0;
	padding: 5px 10px;
}

ul.block-contents{
	margin: 0;
	padding: 0;	
}

.block .block-contents, .block .block-contents-unbordered{
	clear: both;
}

.block-contents{
	border-left: 1px #bababa solid;
	border-bottom: 3px #bababa solid;
}

.block .block-contents{
	padding: 10px;	
}

.pastille .block-contents{
	clear: both;
}


.block-gallery1 .block-contents, .block-gallery2 .block-contents{
	border: 0;
	padding: 0;	
}

/**
 * STYLES OE
**/
.vert{
	color: #8fbc17;
}


/**
 * Slideshow
**/
.slideshow{
	position: relative;	
}

.slideshow .prev-arrow{
	display: block;
	width: 39px;
	height: 53px;
	background: url(../images/fleche-gauche.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -26px;
	z-index: 10;
}

.slideshow .next-arrow{
	display: block;
	width: 37px;
	height: 53px;
	background: url(../images/fleche-droite.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -26px;
	z-index: 10;
}

